.homeSection {
  height: 100vh;
  position: relative;
}

.homeContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  z-index: 2;
  width: 90%;
}

.homeHeading {
  text-align: center;
}

.homeDescription {
  text-align: center;
}

.homeHeading,
.homeDescription {
  margin-bottom: 1.9rem;
}

.homeHeading span {
  color: var(--bgGreen);
}

@media screen and (max-width: 768px) {
  .homeHeading span {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .homeDesSpan {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .homeContainer {
    width: 50%;
  }
}

.typingText::after {
  content: "|";
  animation: blink ease 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
