.input {
  padding: 0.8rem;
  background-color: var(--cardBg);
  border: 1px solid var(--borderColor);
  width: 100%;
  margin: 0.4rem 0 1.4rem;
  border-radius: 0.2rem;
  caret-color: var(--textColor);
}

.input:focus {
  border-color: var(--bgGreen);
  outline: none;
}

.input::placeholder {
  font-size: 0.9rem;
  color: var(--textColor);
  font-weight: 500;
}
